@charset "UTF-8";
/* 导航 */
.dh {
  height: 420px; }

.m-goodsArea {
  padding: 0 40px;
  position: relative;
  background-color: #fff; }

.goodsArea-nav {
  margin-top: 10px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden; }

.m-goodsArea .goAr-top {
  overflow: hidden; }

.m-goodsArea .goAr-top:first-child {
  border-top: none; }

.m-goodsArea .goAr-top-name {
  font-size: 14px;
  color: #999;
  float: left;
  margin-right: 28px; }

.goAr-top-pan {
  overflow: hidden;
  float: left;
  margin-bottom: 4px;
  width: 930px; }

.goAr-top-pan .goAr-top-aa {
  float: left;
  margin-right: 30px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #333; }

.goAr-top-pan .goAr-top-yy {
  color: #b4a078; }

.goAr-center {
  overflow: hidden;
  border-top: 1px dashed #dedede;
  line-height: 1;
  padding-top: 20px; }

.goAr-center .goAr-top-name {
  margin-right: 0; }

.goAr-bottom {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  line-height: 1;
  border-top: 1px dashed #dedede; }

.goAr-top-my {
  margin-right: 30px;
  font-size: 14px; }

.goAr-top-ico {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: -2px; }

.goAr-top-ico .gtioc-01 {
  display: block;
  margin-bottom: 2px;
  background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-s8f43eb714c-d446c53437.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/arrow-sf612fe6124-0d8b777bd7.png?imageView&type=webp) 2x);
  background-position: 0 -1217px;
  height: 5px;
  width: 10px;
  background-repeat: no-repeat; }

.goAr-top-ico .gtioc-02 {
  display: block;
  margin-top: 2px;
  background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-s8f43eb714c-d446c53437.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/arrow-sf612fe6124-0d8b777bd7.png?imageView&type=webp) 2x);
  background-position: 0 -709px;
  height: 5px;
  width: 10px;
  background-repeat: no-repeat; }

.gtioc-03 {
  vertical-align: middle;
  display: inline-block;
  margin-left: 9px;
  margin-top: -2px;
  background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x1/arrow-s8f43eb714c-d446c53437.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-web/p/20150730/style/img/x2/arrow-sf612fe6124-0d8b777bd7.png?imageView&type=webp) 2x);
  background-position: 0 -687px;
  height: 12px;
  width: 9px;
  background-repeat: no-repeat; }

.goodsArea-list {
  overflow: hidden; }

.goodsArea-list .godlst-a01 {
  padding-top: 30px; }

.glst-a01-head {
  text-align: center;
  line-height: 1;
  margin-bottom: 40px; }

.ga1-haowu {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 44px; }

.ga1-pzhi {
  font-size: 14px;
  color: #999;
  line-height: 1.5; }

.godlst-zlei {
  margin-top: 25px;
  margin-right: -10px; }

.gglist-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
  overflow: hidden; }

.gglist-item .left-top {
  width: 245px;
  height: 245px;
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;
  background-color: #f4f4f4; }

.gglist-item .left-top a {
  width: 100%;
  height: 245px; }

.gglist-item .left-top .lt-img1 .lt-img1-opc {
  width: 245px;
  height: 245px;
  transition: transform 1s;
  background-color: #f4f4f4;
  color: #f4f4f4;
  display: block;
  margin: 0 auto; }

.gglist-item .left-top .lt-img1 {
  width: 100%;
  height: 245px; }

.gglist-item .left-top .lt-img2 {
  width: 100%;
  height: 100%; }

.gglist-item .left-top .lt-img2 .lt-img2-opc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  width: 245px;
  height: 245px;
  opacity: 0; }

.gglist-item .left-top .ot3-lt-top {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 4px;
  line-height: 18px;
  background-color: #f4f0ea; }

.gglist-item .left-top .ot3-lt-bottom {
  background-image: url(https://yanxuan.nosdn.127.net/73de0050620397b41099c356292b28c8.png);
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  display: block; }

.gglist-item .left-top .ot3-lt-bottom .o3lb-01 {
  max-width: 200px;
  height: 36px;
  background-size: auto 100%;
  margin-top: -6px;
  z-index: 1;
  padding-left: 8px;
  padding-right: 14px;
  float: left;
  border-top-left-radius: 3px;
  background: url(https://yanxuan.nosdn.127.net/ce3597696f4c886d1d81a7d94f8cfe6e.png?quality=95&type=webp&imageView) no-repeat right center; }

.gglist-item .left-top .ot3-lt-bottom .o3lb-01 .o3lb-01-01 {
  font-size: 12px;
  height: 15px;
  line-height: 1;
  margin-top: 5px;
  margin-left: 0;
  padding-top: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gglist-item .left-top .ot3-lt-bottom .o3lb-01 .o3lb-01-02 {
  font-size: 14px;
  height: 20px;
  line-height: 14px;
  margin-top: -1px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gglist-item .left-top .ot3-lt-bottom .o3lb-02 {
  color: #fff;
  text-align: left;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px;
  padding-left: 4px; }

.gglist-item .left-bottom .lbt-01 {
  margin-bottom: 10px;
  height: 20px;
  font-size: 0;
  color: #fff;
  width: 200px;
  margin: 0 auto 3px;
  overflow: hidden;
  text-align: center; }

.gglist-item .left-bottom .lbt-01 > span {
  height: 20px;
  line-height: 20px;
  color: #fff !important;
  padding: 0 5px;
  background-color: #e36844;
  display: inline-block;
  font-size: 12px;
  text-align: center; }

.gglist-item .left-bottom .lbt-02 {
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 166px;
  margin: 0 auto 4px;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden; }

.gglist-item .left-bottom .lbt-02 > a {
  color: #333; }

.gglist-item .left-bottom .lbt-02 > a:hover {
  color: #b4a078; }

.gglist-item .left-bottom .lbt-03 {
  font-size: 14px;
  line-height: 13px;
  color: #d4282d;
  padding: 1px 0 9px;
  margin: 0;
  text-align: center;
  display: block; }

.gglist-item .left-bottom .lbt-03 span {
  height: 20px;
  line-height: 22px;
  position: relative;
  top: 1px;
  overflow: hidden; }

.gglist-item .left-bottom .lbt-03 > span:nth-child(2) {
  font-size: 12px;
  margin-left: 6px;
  text-decoration: line-through;
  line-height: 22px;
  height: 20px;
  color: #999; }

.gglist-item .left-bottom .lbt-04 hr {
  display: block;
  width: 130px;
  height: 1px;
  padding: 0;
  margin: 6px auto 14px;
  border: 0;
  border-top: 1px solid #e8e8e8; }

.left-bottom .lbt-04 .lbt-04-writ {
  width: 225px;
  padding: 0 10px;
  line-height: 18px;
  color: #999;
  overflow: hidden; }

.tao-box:hover .lt-img2 .lt-img2-opc {
  opacity: 1; }

.goAr-top-aa:hover {
  color: #b4a078; }

.tao-box:hover {
  background-color: #f4f0ea; }
